// 全局sass变量
// Color
$-color-primary-1: #f18300;
$-color-primary-2: #0575e6;
$-color-error: #ff0000;
$-font-color-1: #292929;
$-font-color-2: #666666;
$-background-color: #2b2c32;
$-background-color-1: #f5f4f2;
$-color-white: #fff;
// Color
$blue: #0575e6;
$shallowBule: #c3def9;
$red: #f5222d;
$deepRed: #fa531c;
$black: #262626;
$gray: #666666;
$grayShallow: #bfbfbf;
$lightGrey: #fafafa;
$green: #3dd144;
$grayShallow2: #d9d9d9;
$grayShallow3: #e8e8e8;
// Font Family
$fontFamily: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  Microsoft YaHei, Arial, sans-serif;

// Font Size
$fontLarger: 24px;
$fontLarge: 18px;
$fontNormal: 14px;
$fontSmall: 12px;
$fontX: 16px;
$fontY: 20px;

// Padding
$padding-base: 24px;

// Width
$sidebarWidth: 200px;
$min-width: 1366px;

// Height
$sidebarHeaderHeight: 64px;
$beradNavHeight: 50px;
